In [1]:
import pandas as pd
from tabulate import tabulate
import re

def save_df_to_latex(df, filename, caption=None, label=None, index=False, float_format="%.2f"):
    """
    Сохраняет DataFrame в LaTeX-файл с использованием pandas.to_latex().

    :param df: pandas DataFrame
    :param filename: Имя выходного файла
    :param caption: Подпись таблицы
    :param label: Метка для таблицы
    :param index: Включать индексы DataFrame в таблицу или нет
    :param float_format: Форматирование чисел с плавающей точкой
    """
    # Заменяем NaN на пустые строки
    df = df.fillna("")

    # Экранируем символы "_" в названиях столбцов
    df.columns = df.columns.str.replace('_', r'\_')

    # Генерируем LaTeX таблицу
    latex = df.to_latex(index=index, float_format=float_format)

    # Добавляем заголовок, подпись и метку таблицы
    if caption:
        latex = latex.split('\n')
        latex.insert(0, f'\\caption{{{caption}}}')
        latex = '\n'.join(latex)
    if label:
        latex = latex.split('\n')
        latex.insert(1, f'\\label{{{label}}}')
        latex = '\n'.join(latex)

    # Сохраняем LaTeX таблицу в файл
    with open(filename, 'w') as f:
        f.write(latex)

# Пример использования
if __name__ == "__main__":
    data = {
        'Name': ['Alice', 'Bob', 'Charlie', None],
        'Age': [24, 22, None, 23],
        'Score': [85, None, 95, 90]
    }
    df = pd.DataFrame(data)

    # Запись DataFrame в LaTeX файл
    save_df_to_latex(df, 'table.tex', caption='Sample data from pandas', label='tab:sample_data', index=False)

# пример 1

In [2]:
import pandas as pd
import hypex
from hypex.utils import datasets


df = datasets.gen_oracle_df(
    factual_only=False,
    random_state=145
).loc[:, ['Treatment', 'Target_untreated', 'Target_treated']]
df

   Treatment  Target_untreated  Target_treated
0          0               600             650
1          0               500             550
2          1               500             550
3          0               600             650
4          1               500             650
5          1               700             850
6          1               300             450
7          0               600             750

In [3]:
save_df_to_latex(df, 'table1.tex', caption='df', label='tab:sample_data', index=True)

In [4]:
Y_0 = df['Target_untreated']
Y_1 = df['Target_treated']

Y_factual = Y_0 * (1 - df['Treatment']) + Y_1 * df['Treatment']
Y_counterfactual = Y_0 * df['Treatment'] + Y_1 * (1 - df['Treatment'])

TE = Y_1 - Y_0

TE[df['Treatment'] == 0].mean(), TE[df['Treatment'] == 1].mean(), TE.mean()

(75.0, 125.0, 100.0)

# таблица 2

In [5]:
df = datasets.gen_oracle_df(
    factual_only=True,
    random_state=145
).loc[:, ['Treatment', 'Target_untreated', 'Target_treated']]
df

   Treatment  Target_untreated  Target_treated
0          0             600.0             NaN
1          0             500.0             NaN
2          1               NaN           550.0
3          0             600.0             NaN
4          1               NaN           650.0
5          1               NaN           850.0
6          1               NaN           450.0
7          0             600.0             NaN

In [6]:
save_df_to_latex(df, 'table2.tex', caption='Sample data from pandas', label='tab:sample_data', index=False)

# таблица 3

In [ ]:
df = datasets.gen_special_medicine_df(
    data_size=1000,
    dependent_division=True,
    random_state=None,
)

df.head(8)

In [ ]:
save_df_to_latex(df.head(8), 'table3.tex', caption='Sample data from pandas', label='tab:sample_data', index=False)

In [ ]:
df.loc[df['experimental_treatment']==1, 'residual_lifetime'].mean() - df.loc[df['experimental_treatment']==0, 'residual_lifetime'].mean()

In [9]:
df.loc[df['experimental_treatment']==1, 'residual_lifetime'].mean() - df.loc[df['experimental_treatment']==0, 'residual_lifetime'].mean()

-1.7024597072781837