In [ ]:
import pandas as pd
import numpy as np
from scipy.special import expit
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import style

style.use("fivethirtyeight")

np.random.seed(123)
n = 100
tuition = np.random.normal(1000, 300, n).round()
tablet = np.random.binomial(1, expit((tuition - tuition.mean()) / tuition.std())).astype(bool)
enem_score = np.random.normal(200 - 50 * tablet + 0.7 * tuition, 200)
enem_score = (enem_score - enem_score.min()) / enem_score.max()
enem_score *= 1000

data = pd.DataFrame(dict(enem_score=enem_score, Tuition=tuition, Tablet=tablet))

In [ ]:
data

In [ ]:
plt.figure(figsize=(6,8))
sns.boxplot(y="enem_score", x="Tablet", data=data).set_title('ENEM score by Tablet in Class')
plt.show()

In [ ]:
pd.DataFrame(dict(
    i= [1,2,3,4],
    Y0=[500,600,800,700],
    Y1=[450,600,600,750],
    T= [0,0,1,1],
    Y= [500,600,600,750],
    TE=[-50,0,-200,50],
))

In [ ]:
!pip install --upgrade hypex

In [ ]:
from hypex.utils import datasets

In [ ]:
datasets.gen_oracle_df()

In [ ]:
datasets.gen_oracle_df().rename(columns={
    'Target_untreated' : 'Y0',
    'Target_treated' : 'Y1',
    # 'Target_untreated'ё : 'Y0',
    # 'Target_untreated' : 'Y0',
    # 'Target_untreated' : 'Y0',
    # 'Target_untreated' : 'Y0',
})

In [8]:
datasets.gen_oracle_df().rename(columns={
    'Target_untreated' : 'Y0',
    'Target_treated' : 'Y1',
    # 'Target_untreated'ё : 'Y0',
    # 'Target_untreated' : 'Y0',
    # 'Target_untreated' : 'Y0',
    # 'Target_untreated' : 'Y0',
})

   X   Y0   Y1  Treatment  Target   TE
0  0  800  850          0     800   50
1  0  600  650          0     600   50
2  0  400  450          0     400   50
3  1  700  850          0     700  150
4  1  700  850          1     850  150
5  0  400  450          0     400   50
6  1  700  850          1     850  150
7  0  500  550          0     500   50

In [ ]:
datasets.gen_special_medicine_df()

In [6]:
from hypex.utils import datasets

In [11]:
datasets.gen_oracle_df().rename(columns={
    'Target_untreated' : 'Y0',
    'Target_treated' : 'Y1',
    # 'Target_untreated' : 'Y0',
    # 'Target_untreated' : 'Y0',
    # 'Target_untreated' : 'Y0',
    # 'Target_untreated' : 'Y0',
})

   X   Y0   Y1  Treatment  Target   TE
0  1  800  950          1     950  150
1  0  300  350          0     300   50
2  0  500  550          0     500   50
3  0  500  550          1     550   50
4  0  500  550          0     500   50
5  0  600  650          1     650   50
6  1  400  550          1     550  150
7  0  500  550          0     500   50

In [9]:
datasets.gen_special_medicine_df()

    disease_degree  experimental_treatment  residual_lifetime
0                3                       1           5.815706
1                2                       0           3.546457
2                2                       1           6.986370
3                1                       0           1.417766
4                3                       1           1.820841
..             ...                     ...                ...
95               3                       1           2.392880
96               3                       0          11.909673
97               1                       1          17.453573
98               1                       0          10.233043
99               2                       1           9.074777

[100 rows x 3 columns]